.landing-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
  min-height: 100vh;
  background-color: aliceblue;
}

.landing-text h1 {
  text-align: start;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0 !important;
}

.landing-text h3 {
  text-align: start;
  font-size: 1.4rem;
  font-weight: 400;
  opacity: .4;
  line-height: 30px;
  margin: .5rem !important;
}

.landing-image img {
  width: 45vw;
}


@media only screen and (max-width: 768px) {
  .landing-wrapper {
    flex-direction: column-reverse;
    padding: 15vw;
    justify-content: center;
  }

  .landing-text h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .landing-text h1 .highlight {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .landing-text h3 {
    font-size: .8rem;
    line-height: 1.2rem;
  }

  .landing-image img {
    width: 20em;
  }

  .landing-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
  }
}