.btn {
  width: 10rem;
  margin-top: 2rem;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.btn:hover {
  opacity: .9;
}

.btn:active {
  opacity: .8;
}

.btn.btn-primary {
  background-color: tomato;
  color: #fff;
}

.btn.btn-secondary {
  border: tomato 1px solid;
  background-color: transparent;
  color: tomato;
}

.btn.btn-secondary:hover {
  opacity: .7;
}

.btn.btn-secondary:active {
  opacity: .5;
}

@media only screen and (max-width: 768px) {
  .btn {
    font-size: .6rem;
    width: 7rem;
    margin-top: 1rem;
    padding: .8rem .5rem;
    border-radius: .8rem;
  }
}