.skills-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
  background-color: #fff;
}

.skills-header {
  text-align: center;
  margin-bottom: 2rem;
}

.skills-list-wrapper {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  width: 55%;
}