.nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 4rem;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}

.floating {
  background-color: #ffffffe6;
  backdrop-filter: blur(10px);
  box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.05);
  -webkit-box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.05);
}

.nav .links a * {
  margin-right: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: #424953;
}

.nav .links a *:hover {
  color: #424953bf;
}

.nav .links .main-link * {
  color: tomato;
}

.nav .links .main-link *:hover{
  color: tomato;
  opacity: 0.7;
}

@media only screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .nav .links {
    padding-bottom: .5rem;
  }

  .nav .links a * {
    margin-right: 1.5rem;
    font-size: .7rem;
    font-weight: 500;
    color: #424953;
  }
}