.career-wrapper {
  min-height: 60vh;
  background-color: aliceblue;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.career-title {
  position: relative;
  padding: 0 50px;
  width: 50vw;
}

.career-title h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0 !important;
  padding-bottom: 1rem;
}

.career-title h1 span {
  font-size: 35px;
  margin: 0 !important;
}

.career-title img {
  width: 40vw;
}

.career-list {
  width: 50%;
}

.career-list ol {
  list-style: none;
  text-align: start;
}

.career-list ol .company-name {
  font-weight: bold;
  font-size: 1.2rem;
  opacity: .8;
}

.career-list ol .company-title {
  font-weight: normal;
  font-size: 1rem;
  opacity: .6;
}

.career-wrapper ol li {
  position: relative;
  margin-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
}

.career-list ol li span {
  font-size: .85rem;
}

.career-wrapper ol li p {
  font-size: .9rem;
  padding-left: 1.5rem;
  line-height: 1.5rem;
  opacity: .7;
}

.career-wrapper ol li p .highlight {
  font-size: .9rem;
}


@media only screen and (max-width: 768px) {
  .career-wrapper {
    flex-direction: column;
    padding: 15vw;
    justify-content: center;
  }

  .career-title {
    width: 100%;
  }

  .career-title h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .career-title h1 .highlight {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .landing-text h3 {
    font-size: 1rem;
  }

  .career-title img {
    width: 15em;
  }

  .career-list {
    width:100%;
  }

  .career-list ol .company-name {
    font-size: 1rem;
  }

  .career-list ol .company-title {
    font-size: .8rem;
  }

  .career-list ol li span {
    font-size: .7rem;
  }

  .career-wrapper ol li p {
    font-size: .6rem;
    padding-left: 0;
    line-height: 1rem;
    opacity: .6;
  }

  .career-wrapper ol li p .highlight {
    font-size: .6rem;
  }

}