.skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 10rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.skill-img {
  width: 4rem;
  height: 4rem;
  filter: invert(1);
}

.skill-title {
  color: white;
}

@media only screen and (max-width: 768px) {
  .skill-img {
    width: 2rem;
    height: 2rem;
  }

  .skill-container {
    height: 5rem;
    width: 5rem;
    margin: 0.2rem;
    border-radius: 0.3rem;
  }

  .skill-title {
    font-size: 0.6rem;
  }
}
