.skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 10rem;
  margin: 0.5rem
}

.skill-img {
  height: 40%;
  width: 40%;
  filter: invert(1);
}

.skill-title {
  color: white;
}

@media only screen and (max-width: 768px) {
  .skill-container {
    height: 5rem;
    width: 5rem;
    margin: 0.2rem
  }

  .skill-title {
    font-size: .6rem;
  }

}